/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
    background-color: black;
}

header{
    background-color: #AED8E6;
    height: 100px;
}

.navigation{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 40%;
    height: 40px;
    background-color: #DAA421;
    border: 2px solid black;
}

.logo{
    display: flex;
    align-items: center;
    width: 15%;
    height: 40px;
    background-color: #DAA421;
    border: 2px solid black;
}

.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    height: 40px;
    background-color: #DAA421;
    border: 2px solid black;
}


.blu{
    background-color: #000D8B;
}

.container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-chest{
    width: 50%;
    height: 300px;
    background-color: #EE82EE;
    border: 2px solid black;
}


.small{
    width: 800px;
    height: 300px;
}

.white{
    background-color: white;
}

.row-blu{
    width: 60%;
    height: 100%;
    background-color: #1F90FF;
    border: 2px solid black;
}

.row-pink{
    width: 40%;
    height: 100%;
    background-color:  #FFC0CB;
    border: 2px solid black;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
}

.grey{
    background-color: #D3D3D3;
}

.big{
    height: 600px;
}

.big-green{
    width: 800px;
    height: 500px;
}

.green-chest{
    width: 100%;
    height: 100%;
    background-color: green;
    border: 1px solid black;
}


/*
container{
width 70%;
    margin: auto;
    max-width:1200px;
}
*/